/* Selecionando Variaveis */
:root {
  --text-color: white;
  --bg-url: url(../assets/bg-mobile-dark.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5) solid;
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../assets//moon-stars.svg);
}

/* Criando  Classe Light para Editar */
.light {
  --text-color: black;
  --bg-url: url(../assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5) solid;
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../assets//sun.svg);
}

/* Resetar CSS Globalmente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Bloquear de Baixar o PNG*/
img {
  pointer-events: none;
}

/* Modelo simplificado de imagem de Fundo */
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100%;
}

/* Body Universal */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Elemento "Container" */
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Elemento "Profile" */
#profile {
  text-align: center;
  padding: 24px;
}

/* "Imagem" para o Elemento Profile */
#profile img {
  width: 112px;
  border: 0.1px solid;
  border-radius: 55px;
}

/* "Paragrafo" para o Elemento Profile */
#profile p {
  font-weight: 500;
  line-height: 24px;
}

/* Editando Switch "Day And Night" */
#switch {
  /* Posicionando Elementos Relativos*/
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* Posicionando Elementos Absolutos (Verticalmente) */
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

/* Botões - Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

/* Configurando os Botões */
ul li a {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px var(--stroke-color);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* Selector ou Pseudo-Selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Editando o Social Links */
#social_links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 24px 0;
  font-size: 32px;
}

/* Editando o Social Links e seus Elementos */
#social_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* Editando o Social Links ao Selecionar */
#social_links a:hover {
  background: var(--highlight-color);
  padding: 16px;
  border-radius: 50%;
}

/* Customizando o Footer */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* Media Queries  */
@media (min-width: 700px) {
  :root {
    --bg-url: url(../assets/bg-desktop-dark.jpg);
  }

  .light {
    --bg-url: url(../assets/bg-desktop-light.jpg);
  }
}

/* Animações Do Toggle */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}